#about{
	background-color: #474747;
	padding: 20px 10px;

	.map{
		display: block;
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
}

.footer{
	padding:30px 15px;
	color:white;
	text-align: center;
}