.medium{
	background-color: #474747;
	padding-top: 35px ;
	padding-bottom:15px;
	width: 100%;

	@media (min-width: 1800px) {
		width: 1800px;
		margin-right: auto;
		margin-left: auto;
		
	}

	.medium_title{
		text-align: center;
		color:white;
		font-size:1.5em;
	}

	.medium_text{
		color:lighten(black, 65%);
		width: 70%;
		margin-left:auto;
		margin-right: auto;

	}
	 
}