extends ./config/template

block main
  include ./components/_navegacion
  include ./components/_slider
  include ./components/_section
  include ./components/_banner

  include ./includes/medium

  include ./components/_about
  include ./components/_project

  +navegacion(navegacion)

  #Home
    +slider(slider)

  #Nosotros
    +medium(medium)
    +section(section)

  #Programas
    +banner(banner)
    
  #Cursos
    +medium(medium1)
    +project(project)
    

  #About
    +medium(medium2)
    +about(about)