extends ./config/template

block main
  include ./components/_navegacion
  include ./components/_slider
  include ./components/_section
  include ./components/_banner

  include ./includes/medium

  include ./components/_about
  include ./components/_project

  +navegacion(navegacion)

  +slider(slider)
  +medium(medium)
  +section(section)
  +banner(banner)
  +medium(medium)
  +project(project)
  +medium(medium)
  +about(about)