-/* Page MetaData */
-
    metadata={
      //Meta
      siteName : 'Anglofono',                                                   //Title
      description: 'Gulp-Page-Web',                                             //Description
      favicon: 'static/img/anglofono.png',                                      //Favicon
      keyWorlds :'ingles anglofono idioma frances',                             //KeyWorlds
      author:'Ramos Aparicio',                                                  //Author
      copyright:'© 2020',                                                       //Copyright


      //Facebook
      facebookTitle: 'Anglofono',                                               //og:title
      facebookDescription : 'Grupo academico Anglofono',                        //og:description 
      facebookLocal: 'es_PE',                                                   //og:locale
      facebookLocalAlternate: 'es_CO',                                          //og:locale:alternate
      facebookImage : '',                                                       //og:image
      facebookImageSecure:'',                                                   //og:image:secure_url


      //Twitter
      twitterSite : '@ANGLOFONO_CNTR',                                          //twitter:site
      twitterImage: 'static/img/anglofono.png',                                 //twitter:image
      twitterTitle:'Especialistas en Docencia de Idiomas, INGLES y FRANCÉS.',   //twitter:title
      twitterDescription:'Grupo academico Anglofono'                            //twitter:description

      
    }


-/* Page Data */
-
   navegacion={
     title:"Anglofono",
     link:["Home","Services","Contac","Project","About"],
     iconLink:["Chart","Chart","Chart","Chart","Chart"]
    }
   

-
   slider=[
    {
      url:"./static/img/estudiante3.jpg",
      key:"img1",
      title:"Bussines",
      text:"Lorem ipsum dolor sit non quasi praesentium",
    },
    {
      url:"./static/img/mundo.jpg",
      key:"img2",
      title:"Marketing",
      text:"Lorem ipsum dolor sit non quasi praesentium",
    },
    {
      url:"./static/img/bandera.jpg",
      key:"img3",
      title:"Team",
      text:"Lorem ipsum dolor sit non quasi praesentium",
    } 
  ]


-
   section={
    url:"./static/img/exams.svg",
    key:"draw1",
    info:[
     {
      icon:"Cart",
      title:"Lorem",
      text:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagen"
     },
     {
      icon:"Cart",
      title:"Lorem",
      text:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagen"
     },
     {
      icon:"Cart",
      title:"Lorem",
      text:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagen"
     },
     {
      icon:"Cart",
      title:"Lorem",
      text:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagen"
     }
    ]
   }

-
   banner={
    title:"lorem ipsum",
    text:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum ",
    icon:"Chart",
    url:"./static/img/grupo2.jpg",
    key:"fondo",
    button:"Lorem ipsum",
    link:"https://www.linkedin.com/organization-guest/company/grupo-academico-anglofono?challengeId=AQEj1ttdaS-K6gAAAXNK4m4JOWs4KNmVOVSaqlu7xDH5KUHB_3QMJJPFT5QGrNtMrs9_OuD_fIsWGegosQmxKFNtc-PBPvoSog&submissionId=a3c48a83-6579-2116-a4d5-0d5d35b47f6b"
   }


-
   card={
    title:"lorem ipsum",
    text:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum ",
    img:{
      url:"./static/img/card.jpg",
      key:"card-1"
    }
   }

-
   flipCard={
    title:"lorem ipsum",
    iconCard:"icon-amazon",

    user:{
      url:"./static/img/card.jpg",
      key:"User",
      name:"Erick Ramos",
      content:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum ",
      links:["icon-amazon","icon-amazon","icon-amazon"]
    }
   }

-
   let medium={
    title:"Grupo academico Anglofono",
    text:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagen Lorem ipsum prueba info de una imagenLorem ipsum prueba "
   }

-
   let project={
    img:"./static/img/exams.svg",
    box:[
      {
        title:"lorem ipsum",
        icon:"Chart",
        text: "Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum"
      },
      {
        title:"lorem ipsum",
        icon:"Chart",
        text: "Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum"
      },
      {
        title:"lorem ipsum",
        icon:"Chart",
        text: "Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum"
      }
    ]
   }

-
   let about={

    text:"© 2020 Copyright | Autor:",
    author:"Erick Giancarlo",
    authorLink:"https://github.com/GiancarloAparicio"
   }

   