-/* Page MetaData */
-
    metadata={
      //Meta
      siteName : 'Anglofono',                                                   //Title
      description: 'Gulp-Page-Web',                                             //Description
      favicon: 'static/img/anglofono.png',                                      //Favicon
      keyWorlds :'ingles anglofono idioma frances',                             //KeyWorlds
      author:'Ramos Aparicio',                                                  //Author
      copyright:'Â© 2020',                                                       //Copyright


      //Facebook
      facebookTitle: 'Anglofono',                                               //og:title
      facebookDescription : 'Grupo academico Anglofono',                        //og:description 
      facebookLocal: 'es_PE',                                                   //og:locale
      facebookLocalAlternate: 'es_CO',                                          //og:locale:alternate
      facebookImage : '',                                                       //og:image
      facebookImageSecure:'',                                                   //og:image:secure_url


      //Twitter
      twitterSite : '@ANGLOFONO_CNTR',                                          //twitter:site
      twitterImage: 'static/img/anglofono.png',                                 //twitter:image
      twitterTitle:'Especialistas en Docencia de Idiomas, INGLES y FRANCES.',   //twitter:title
      twitterDescription:'Grupo academico Anglofono'                            //twitter:description

      
    }


-/* Page Data */
-
   navegacion={
     title:"Anglofono",
     link:["Home","Services","Contac","Project","About"],
     iconLink:["Home","Cart","Message","Chart","Email"]
    }
   

-
   slider=[
    {
      url:"./static/img/estudiante3.jpg",
      key:"img1",
      title:"Matriculate",
      text:"Sigue aprendiendo idiomas a través de clases virtuales",
    },
    {
      url:"./static/img/mundo.jpg",
      key:"img2",
      title:"Aprende idiomas",
      text:"Estudia con nosotros,sé parte de Anglofono",
    },
    {
      url:"./static/img/bandera.jpg",
      key:"img3",
      title:"Do you speak English?",
      text:"Aprende Inglés HOY",
    } 
  ]


-
   section={
    url:"./static/img/exams.svg",
    key:"draw1",
    info:[
     {
      icon:"Diagram",
      title:"Visión",
      text:"Ser el centro de idiomas bilingüe líder a nivel nacional, brindando servicios culturales y educativos a la comunidad con excelencia, innovación y calidez"
     },
     {
      icon:"Check",
      title:"Misión",
      text:"Brindar el servicio de enseñanza de idiomas extranjeros tanto a niños como adultos y todas las personas interesadas en el aprendizaje de idiomas "
     },
     {
      icon:"Cart",
      title:"Nuestros cursos",
      text:"Nuestros cursos destacados se seleccionan mediante un proceso riguroso y se crean de forma única para cada mes."
     },
     {
      icon:"Bell",
      title:"Eventos",
      text:"Todos los meses realizamos actividades culturales, webinars, conferencias y talleres"
     }
    ]
   }

-
   banner={
    title:"Aprende con nosotros y escoge tu programa",
    text:"El Centro de Idiomas ANGLOFONO tiene más de 10 años de experiencia dedicada a la enseñanza de idiomas extranjeros",
    icon:"Chart",
    url:"./static/img/grupo2.jpg",
    key:"fondo",
    button:"MÁS INFORMACIÓN",
    link:"https://www.linkedin.com/organization-guest/company/grupo-academico-anglofono?challengeId=AQEj1ttdaS-K6gAAAXNK4m4JOWs4KNmVOVSaqlu7xDH5KUHB_3QMJJPFT5QGrNtMrs9_OuD_fIsWGegosQmxKFNtc-PBPvoSog&submissionId=a3c48a83-6579-2116-a4d5-0d5d35b47f6b"
   }


-
   card={
    title:"lorem ipsum",
    text:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum ",
    img:{
      url:"./static/img/card.jpg",
      key:"card-1"
    }
   }

-
   flipCard={
    title:"lorem ipsum",
    iconCard:"icon-amazon",

    user:{
      url:"./static/img/card.jpg",
      key:"User",
      name:"Erick Ramos",
      content:"Lorem ipsum prueba info de una imagenLorem ipsum prueba info de una imagenLorem ipsum ",
      links:["icon-amazon","icon-amazon","icon-amazon"]
    }
   }

-
   let medium={
    title:"CENTRO DE IDIOMAS ANGLOFONO",
    text:"Somos un centro de formación y de capacitación. Nuestra institución promueve el uso efectivo y autosuficiente de una segunda lengua o lengua extranjera, desde una perspectiva holística que abarca de manera efectiva los planos emocional, activo-vivencial y cognitivo, lo que ayudará a los estudiantes a destacar en todos los ámbitos y escenarios de la vida."
   }



-
   let medium1={
    title:"Centro de idiomas Anflofono",
    text:"Aprende con nosotros y escoge tu horario, cada ciclo tiene una duración de 28 horas académicas "
   }

-
   let medium2={
    title:"¿Qué idioma te gustaría aprender?",
    text:"Aprende con nosotros y escoge tu horario, cada ciclo tiene una duración de 28 horas académicas "
   }



-
   let project={
    img:"./static/img/exams.svg",
    box:[
      {
        title:"INGLÉS",
        icon:"Easel",
        text: "El inglés es considerado uno de los idiomas más importantes para la comunicación debido a su presencia universal."
      },
      {
        title:"FRANCÉS",
        icon:"Flag",
        text: "El francés es una de las lenguas más prestigiosas por sus avances científicos."
      },
      {
        title:"PORTUGUÉS",
        icon:"Tags",
        text: "El portugués es un idioma de gran presencia en Sudamérica y parte de Europa."
      }
    ]
   }

-
   let about={

    text:"© 2020 Copyright | Autor:",
    author:"GRUPO FIIS UNAC",
    authorLink:"https://www.unac.edu.pe/"
   }